* analysis each different pollutant
    * why are they included? what are the effects? 
* focus on one area for each pollutant
* 1 hypothesis test using regression
* time series analysis
* 1 question to model

* pick region of interest 
* isolate data for region
* time series analysis and prediction graphs for individual pollutants

* graph of most and least polluted states in the US

- heat map of US aqi
- separate by region (northeast, southeast, midwest, west) and graph aqi over time 
- graph of defining parameters over time

In [4]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import folium
from time_series_analysis import *
%matplotlib inline

In [5]:
all_data = pd.read_csv('final_merged_data.csv')

In [6]:
all_data.head()

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi,category,defining_parameter
0,Alabama-Baldwin-2000-03-0100:00:00,Alabama,Baldwin,2000-03-01,0.036,nan,nan,nan,nan,nan,nan,nan,nan,43.000,Good,Ozone
1,Alabama-Baldwin-2000-03-0200:00:00,Alabama,Baldwin,2000-03-02,0.038,nan,nan,nan,nan,nan,nan,nan,nan,74.000,Moderate,Ozone
2,Alabama-Baldwin-2000-03-0300:00:00,Alabama,Baldwin,2000-03-03,0.035,nan,nan,nan,nan,nan,nan,nan,nan,34.000,Good,Ozone
3,Alabama-Baldwin-2000-03-0400:00:00,Alabama,Baldwin,2000-03-04,0.029,nan,nan,nan,nan,nan,nan,nan,nan,35.000,Good,Ozone
4,Alabama-Baldwin-2000-03-0500:00:00,Alabama,Baldwin,2000-03-05,0.036,nan,nan,nan,nan,nan,nan,nan,nan,54.000,Moderate,Ozone

In [7]:
all_data.isna().sum()/len(all_data)

merge_column         0.000
state_name           0.000
county_name          0.000
date_local           0.000
o3                   0.354
co                   0.789
no2                  0.751
so2                  0.664
pm10                 0.902
pm25                 0.754
pressure             0.815
temperature          0.614
wind                 0.696
aqi                  0.036
category             0.036
defining_parameter   0.036
dtype: float64

In [8]:
all_data.shape

(6589563, 16)

In [9]:
df_no_nulls = all_data.dropna(thresh=16)

In [10]:
df_no_nulls.shape

(41372, 16)

In [11]:
df_no_nulls.isna().sum()/len(df_no_nulls)

merge_column         0.000
state_name           0.000
county_name          0.000
date_local           0.000
o3                   0.000
co                   0.000
no2                  0.000
so2                  0.000
pm10                 0.000
pm25                 0.000
pressure             0.000
temperature          0.000
wind                 0.000
aqi                  0.000
category             0.000
defining_parameter   0.000
dtype: float64

In [12]:
df_no_nulls['defining_parameter'].value_counts()

PM2.5    17811
Ozone    17551
NO2       2483
PM10      2234
SO2       1231
CO          62
Name: defining_parameter, dtype: int64

In [13]:
df_no_nulls[df_no_nulls['defining_parameter'] == 'PM10']

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi,category,defining_parameter
35162,Alabama-Jefferson-2014-01-1700:00:00,Alabama,Jefferson,2014-01-17,0.027,0.385,8.160,2.435,29.833,6.275,993.728,39.766,120.922,59.000,Moderate,PM10
35868,Alabama-Jefferson-2016-01-1000:00:00,Alabama,Jefferson,2016-01-10,0.023,0.277,5.054,0.509,28.000,2.267,993.975,36.388,140.533,26.000,Good,PM10
36527,Alabama-Jefferson-2018-01-2300:00:00,Alabama,Jefferson,2018-01-23,0.027,0.083,8.466,3.496,12.000,3.550,997.300,47.413,126.824,40.000,Good,PM10
86166,Alaska-FairbanksNorthStar-2014-07-1000:00:00,Alaska,Fairbanks North Star,2014-07-10,0.015,0.220,4.472,2.080,23.000,2.667,744.083,66.906,84.987,22.000,Good,PM10
86186,Alaska-FairbanksNorthStar-2014-07-3100:00:00,Alaska,Fairbanks North Star,2014-07-31,0.018,0.217,4.673,1.971,27.000,4.600,753.833,62.485,72.319,28.000,Good,PM10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4243633,Wyoming-Sweetwater-2012-10-0300:00:00,Wyoming,Sweetwater,2012-10-03,0.033,0.209,2.522,0.569,45.714,5.867,826.631,49.253,100.947,60.000,Moderate,PM10
4243645,Wyoming-Sweetwater-2012-10-1500:00:00,Wyoming,Sweetwater,2012-10-15,0.034,0.200,2.932,0.328,17.571,4.167,824.646,48.700,126.258,47.000,Good,PM10
4243672,Wyoming-Sweetwater-2012-11-1100:00:00,Wyoming,Sweetwater,2012-11-11,0.034,0.200,1.527,0.109,15.087,4.467,822.989,14.094,140.640,42.000,Good,PM10
4243702,Wyoming-Sweetwater-2012-12-1100:00:00,Wyoming,Sweetwater,2012-12-11,0.032,0.100,1.766,0.230,11.000,3.000,818.366,24.347,126.415,39.000,Good,PM10
4243708,Wyoming-Sweetwater-2012-12-1700:00:00,Wyoming,Sweetwater,2012-12-17,0.037,0.200,1.050,0.048,22.542,1.200,812.242,27.438,123.517,62.000,Moderate,PM10

In [14]:
df = all_data.drop(['co','pm10'], axis=1)

In [15]:
df.isna().sum()/len(df)

merge_column         0.000
state_name           0.000
county_name          0.000
date_local           0.000
o3                   0.354
no2                  0.751
so2                  0.664
pm25                 0.754
pressure             0.815
temperature          0.614
wind                 0.696
aqi                  0.036
category             0.036
defining_parameter   0.036
dtype: float64

In [16]:
all_data.isna().sum()/len(all_data)

merge_column         0.000
state_name           0.000
county_name          0.000
date_local           0.000
o3                   0.354
co                   0.789
no2                  0.751
so2                  0.664
pm10                 0.902
pm25                 0.754
pressure             0.815
temperature          0.614
wind                 0.696
aqi                  0.036
category             0.036
defining_parameter   0.036
dtype: float64

In [17]:
all_data['date_local'] = pd.to_datetime(all_data['date_local'])

In [18]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6589563 entries, 0 to 6589562
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   merge_column        object
 1   state_name          object
 2   county_name         object
 3   date_local          datetime64[ns]
 4   o3                  float64
 5   co                  float64
 6   no2                 float64
 7   so2                 float64
 8   pm10                float64
 9   pm25                float64
 10  pressure            float64
 11  temperature         float64
 12  wind                float64
 13  aqi                 float64
 14  category            object
 15  defining_parameter  object
dtypes: datetime64[ns](1), float64(10), object(5)
memory usage: 804.4+ MB

In [19]:
all_data['year'] = pd.DatetimeIndex(all_data['date_local']).year
all_data['month'] = pd.DatetimeIndex(all_data['date_local']).month
all_data['day'] = pd.DatetimeIndex(all_data['date_local']).day

In [20]:
all_data.head()

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi,category,defining_parameter,year,month,day
0,Alabama-Baldwin-2000-03-0100:00:00,Alabama,Baldwin,2000-03-01,0.036,nan,nan,nan,nan,nan,nan,nan,nan,43.000,Good,Ozone,2000,3,1
1,Alabama-Baldwin-2000-03-0200:00:00,Alabama,Baldwin,2000-03-02,0.038,nan,nan,nan,nan,nan,nan,nan,nan,74.000,Moderate,Ozone,2000,3,2
2,Alabama-Baldwin-2000-03-0300:00:00,Alabama,Baldwin,2000-03-03,0.035,nan,nan,nan,nan,nan,nan,nan,nan,34.000,Good,Ozone,2000,3,3
3,Alabama-Baldwin-2000-03-0400:00:00,Alabama,Baldwin,2000-03-04,0.029,nan,nan,nan,nan,nan,nan,nan,nan,35.000,Good,Ozone,2000,3,4
4,Alabama-Baldwin-2000-03-0500:00:00,Alabama,Baldwin,2000-03-05,0.036,nan,nan,nan,nan,nan,nan,nan,nan,54.000,Moderate,Ozone,2000,3,5

In [21]:
all_data.loc[all_data.aqi >=1000]

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi,category,defining_parameter,year,month,day
133730,Arizona-Pinal-2007-05-0100:00:00,Arizona,Pinal,2007-05-01,0.045,nan,nan,3.000,479.167,nan,nan,nan,nan,2148.000,Hazardous,PM10,2007,5,1
133809,Arizona-Pinal-2007-07-1900:00:00,Arizona,Pinal,2007-07-19,0.043,nan,nan,3.000,1075.167,nan,nan,nan,nan,1734.000,Hazardous,PM10,2007,7,19
134536,Arizona-Pinal-2009-07-1700:00:00,Arizona,Pinal,2009-07-17,0.045,nan,nan,nan,751.167,nan,nan,nan,nan,1341.000,Hazardous,PM10,2009,7,17
134723,Arizona-Pinal-2010-01-2100:00:00,Arizona,Pinal,2010-01-21,0.034,nan,nan,nan,546.400,nan,nan,nan,nan,1657.000,Hazardous,PM10,2010,1,21
135252,Arizona-Pinal-2011-07-0500:00:00,Arizona,Pinal,2011-07-05,0.051,nan,nan,nan,906.833,67.200,nan,nan,nan,2212.000,Hazardous,PM10,2011,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5844659,California-Mono-2017-03-0400:00:00,California,Mono,2017-03-04,nan,nan,nan,nan,nan,nan,nan,36.333,99.597,1296.000,Hazardous,PM10,2017,3,4
5844681,California-Mono-2017-04-0600:00:00,California,Mono,2017-04-06,nan,nan,nan,nan,nan,nan,nan,44.583,110.616,3439.000,Hazardous,PM10,2017,4,6
5844793,California-Mono-2017-09-2000:00:00,California,Mono,2017-09-20,nan,nan,nan,nan,nan,nan,nan,53.312,109.067,1245.000,Hazardous,PM10,2017,9,20
5844813,California-Mono-2017-10-2000:00:00,California,Mono,2017-10-20,nan,nan,nan,nan,nan,nan,nan,39.875,120.754,1132.000,Hazardous,PM10,2017,10,20
5845142,California-Mono-2019-02-2500:00:00,California,Mono,2019-02-25,nan,nan,nan,nan,nan,nan,nan,36.931,113.619,2094.000,Hazardous,PM10,2019,2,25

In [22]:
print("Null values as a percent")
all_data.isna().sum()/len(all_data)

Null values as a percent

merge_column         0.000
state_name           0.000
county_name          0.000
date_local           0.000
o3                   0.354
co                   0.789
no2                  0.751
so2                  0.664
pm10                 0.902
pm25                 0.754
pressure             0.815
temperature          0.614
wind                 0.696
aqi                  0.036
category             0.036
defining_parameter   0.036
year                 0.000
month                0.000
day                  0.000
dtype: float64

In [26]:
all_data = all_data[all_data.state_name != 'Canada']
all_data = all_data[all_data.state_name != 'Country Of Mexico']
all_data = all_data[all_data.state_name != 'Virgin Islands']

In [22]:
va.head()

,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi
3948506,Virginia,Albemarle,2008-03-31,0.019,nan,nan,nan,nan,nan,nan,nan,nan,nan
3948507,Virginia,Albemarle,2008-04-01,0.035,nan,nan,nan,nan,nan,nan,nan,nan,35.000
3948508,Virginia,Albemarle,2008-04-02,0.037,nan,nan,nan,nan,nan,nan,nan,nan,45.000
3948509,Virginia,Albemarle,2008-04-03,0.032,nan,nan,nan,nan,7.700,nan,nan,nan,32.000
3948510,Virginia,Albemarle,2008-04-04,0.027,nan,nan,nan,nan,nan,nan,nan,nan,30.000

## Visualizations

I want to see aqi levels by state on a map of the US. 

First I need to group my data by state and by year.

In [33]:
state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [34]:
all_data['state_initials'] = all_data['state_name'].map(state_abbrev)

In [35]:
all_data.head()

,merge_column,state_name,county_name,date_local,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi,category,defining_parameter,year,month,day,state_initials
0,Alabama-Baldwin-2000-03-0100:00:00,Alabama,Baldwin,2000-03-01,0.036,nan,nan,nan,nan,nan,nan,nan,nan,43.000,Good,Ozone,2000,3,1,AL
1,Alabama-Baldwin-2000-03-0200:00:00,Alabama,Baldwin,2000-03-02,0.038,nan,nan,nan,nan,nan,nan,nan,nan,74.000,Moderate,Ozone,2000,3,2,AL
2,Alabama-Baldwin-2000-03-0300:00:00,Alabama,Baldwin,2000-03-03,0.035,nan,nan,nan,nan,nan,nan,nan,nan,34.000,Good,Ozone,2000,3,3,AL
3,Alabama-Baldwin-2000-03-0400:00:00,Alabama,Baldwin,2000-03-04,0.029,nan,nan,nan,nan,nan,nan,nan,nan,35.000,Good,Ozone,2000,3,4,AL
4,Alabama-Baldwin-2000-03-0500:00:00,Alabama,Baldwin,2000-03-05,0.036,nan,nan,nan,nan,nan,nan,nan,nan,54.000,Moderate,Ozone,2000,3,5,AL

In [ ]:
all_data.groupby('state_initial')

In [37]:
# Initiate map with center around Montana
m = folium.Map(location=[48, -102], zoom_start=3)

In [40]:
# Add the color for the chloropleth:
m.choropleth(
 geo_data='us_counties.json',
 name='choropleth',
 data=all_data,
 columns=['state_initials', 'aqi'],
 key_on='feature.id',
 fill_color='YlGn',
 fill_opacity=0.7,
 line_opacity=0.2,
 legend_name='Air Quality Index'
)
folium.LayerControl().add_to(m)

ValueError: key_on `'id'` not found in GeoJSON.

# State Summary Data

In [63]:
states = all_data.groupby('state_name',sort=True)

In [44]:
state_data = all_data.groupby('state_name',sort=True).mean()

In [45]:
state_data.head()

,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi
state_name,,,,,,,,,,
Alabama,0.030,0.526,8.955,2.132,19.980,11.906,998.543,57.892,96.029,45.467
Alaska,0.027,0.764,12.509,6.688,16.228,8.532,785.673,30.551,97.514,30.126
Arizona,0.040,0.445,13.449,2.565,33.738,7.571,856.099,63.322,93.027,53.860
Arkansas,0.031,0.479,9.748,1.916,19.628,11.158,nan,63.560,95.509,41.442
California,0.031,0.407,11.147,0.961,26.666,12.127,942.108,60.251,99.321,58.245

In [46]:
state_data.shape

(55, 10)

In [47]:
state_data

,o3,co,no2,so2,pm10,pm25,pressure,temperature,wind,aqi
state_name,,,,,,,,,,
Alabama,0.030,0.526,8.955,2.132,19.980,11.906,998.543,57.892,96.029,45.467
Alaska,0.027,0.764,12.509,6.688,16.228,8.532,785.673,30.551,97.514,30.126
Arizona,0.040,0.445,13.449,2.565,33.738,7.571,856.099,63.322,93.027,53.860
Arkansas,0.031,0.479,9.748,1.916,19.628,11.158,nan,63.560,95.509,41.442
California,0.031,0.407,11.147,0.961,26.666,12.127,942.108,60.251,99.321,58.245
Canada,0.029,nan,4.918,1.461,nan,6.663,nan,nan,nan,24.305
Colorado,0.038,0.451,11.708,1.686,22.809,7.412,806.175,49.800,96.347,41.924
Connecticut,0.034,0.453,12.803,1.933,19.457,9.777,999.208,51.057,104.294,46.872
Country Of Mexico,0.027,0.790,18.825,2.501,72.906,nan,nan,65.318,103.223,70.119
Delaware,0.032,0.356,13.081,2.076,23.975,11.253,nan,57.215,105.899,53.048
District Of Columbia,0.027,0.718,16.563,3.808,22.267,11.978,980.203,58.044,97.637,57.088
Florida,0.029,0.451,7.433,1.259,19.653,8.368,1016.061,73.069,77.732,40.914
Georgia,0.032,0.442,10.107,1.826,21.623,11.874,991.813,61.947,97.605,45.858
Hawaii,0.020,0.421,3.509,6.216,17.607,4.287,880.857,65.010,40.393,48.998
Idaho,0.036,0.705,8.843,3.236,24.710,9.059,921.529,47.886,107.552,31.836
Illinois,0.029,0.484,14.574,2.405,27.898,12.079,996.102,54.249,99.553,41.149
Indiana,0.034,0.562,10.940,3.927,20.424,11.910,996.474,53.370,95.983,43.028
Iowa,0.032,0.276,6.647,1.346,23.546,9.942,984.506,50.761,97.698,40.969
Kansas,0.031,0.388,7.123,1.585,24.319,9.491,973.638,58.022,94.724,38.998
Kentucky,0.033,0.305,9.199,2.383,20.302,11.870,995.145,57.233,94.056,45.203
Louisiana,0.028,0.467,7.964,2.611,25.921,10.409,1012.315,68.098,81.981,44.491
Maine,0.030,0.203,6.604,1.318,15.110,5.279,1008.418,46.744,105.492,35.416
Maryland,0.034,0.287,13.510,1.928,15.867,12.168,997.249,56.463,100.651,49.314
Massachusetts,0.032,0.353,9.857,2.574,14.964,9.273,1003.242,50.307,128.667,43.545
Michigan,0.034,0.291,10.476,2.013,19.825,10.383,986.371,48.611,99.676,42.714
Minnesota,0.031,0.271,9.451,0.854,22.436,8.564,990.412,39.213,100.097,35.656
Mississippi,0.032,0.292,5.281,1.201,17.618,11.553,nan,68.506,96.284,45.186
Missouri,0.036,0.417,10.357,3.096,23.824,12.438,1057.634,55.881,96.403,45.258
Montana,0.031,0.485,1.794,1.820,17.333,8.596,892.892,44.757,83.686,32.853
Nebraska,0.032,0.474,nan,0.935,27.225,8.285,972.612,57.470,96.660,33.787
Nevada,0.038,0.575,13.194,0.854,27.156,7.792,885.825,54.068,103.567,41.645
New Hampshire,0.031,0.312,7.590,2.818,13.453,8.036,971.068,48.026,105.657,40.706
New Jersey,0.029,0.506,16.591,2.532,24.735,10.250,1015.427,53.821,102.818,45.437
New Mexico,0.036,0.361,7.526,0.582,23.278,6.451,840.676,60.086,99.482,39.703
New York,0.030,0.402,17.300,2.408,14.542,9.805,988.011,49.594,99.856,40.105
North Carolina,0.034,0.483,9.745,1.733,17.819,11.406,990.192,58.833,90.599,45.524
North Dakota,0.031,0.167,2.794,0.924,12.487,6.416,946.521,42.253,106.150,33.251
Ohio,0.034,0.380,13.482,3.424,22.627,12.672,959.525,53.734,102.756,44.096
Oklahoma,0.034,0.283,7.523,2.108,22.262,10.360,936.904,60.787,90.464,42.781
Oregon,0.027,0.736,10.409,0.965,17.911,8.945,932.674,50.960,106.888,33.748
Pennsylvania,0.031,0.265,11.203,4.288,22.469,12.049,986.880,57.052,115.363,47.982
Puerto Rico,0.012,0.888,9.394,2.100,28.711,6.720,1015.376,81.704,63.341,23.255
Rhode Island,0.034,0.425,10.390,2.667,13.664,8.736,1009.306,51.456,100.499,43.406
South Carolina,0.032,0.309,6.445,1.152,20.286,11.136,nan,66.914,90.305,43.772
South Dakota,0.034,0.171,3.479,0.505,20.108,7.630,nan,48.444,106.158,35.993
Tennessee,0.035,0.458,10.277,3.518,21.669,11.914,912.889,54.697,100.264,45.749
Texas,0.031,0.308,6.295,1.085,24.772,10.506,977.679,68.032,85.820,44.126
Utah,0.039,0.563,12.787,1.556,24.165,9.083,1416.261,52.989,119.192,50.028
Vermont,0.031,0.358,9.207,2.044,12.392,8.362,990.658,47.846,105.148,36.557
Virgin Islands,0.023,nan,nan,1.401,29.044,6.493,nan,79.562,54.037,24.826
Virginia,0.033,0.333,10.714,2.310,16.319,10.348,940.462,51.795,113.125,40.241
Washington,0.027,0.714,11.952,1.047,22.724,8.747,1933.794,51.036,93.570,32.066
West Virginia,0.031,0.461,15.063,6.001,22.537,12.339,nan,54.820,97.311,44.917
Wisconsin,0.034,0.285,9.247,2.117,17.016,9.954,1014.539,48.864,98.780,41.841
Wyoming,0.040,0.153,2.932,1.120,17.848,5.709,827.954,43.754,136.380,38.808

In [49]:
state_data.isna().sum()

o3             0
co             0
no2            1
so2            0
pm10           0
pm25           0
pressure       6
temperature    0
wind           0
aqi            0
dtype: int64

In [50]:
state_data.drop(['pressure'], axis=1, inplace=True)

In [57]:
#Nebraska has a null value for no2. I will replace it with the average of the no2 measurements in the states bordering Nebraska.
nebraska_border = ['Wyoming', 'South Dakota', 'Iowa', 
                   'Kansas', 'Colorado']
border_mean = state_data.loc[nebraska_border, 'no2'].mean()
state_data.fillna(border_mean, inplace=True)

In [58]:
state_data.isna().sum()

o3             0
co             0
no2            0
so2            0
pm10           0
pm25           0
temperature    0
wind           0
aqi            0
dtype: int64

In [59]:
state_data

,o3,co,no2,so2,pm10,pm25,temperature,wind,aqi
state_name,,,,,,,,,
Alabama,0.030,0.526,8.955,2.132,19.980,11.906,57.892,96.029,45.467
Alaska,0.027,0.764,12.509,6.688,16.228,8.532,30.551,97.514,30.126
Arizona,0.040,0.445,13.449,2.565,33.738,7.571,63.322,93.027,53.860
Arkansas,0.031,0.479,9.748,1.916,19.628,11.158,63.560,95.509,41.442
California,0.031,0.407,11.147,0.961,26.666,12.127,60.251,99.321,58.245
Colorado,0.038,0.451,11.708,1.686,22.809,7.412,49.800,96.347,41.924
Connecticut,0.034,0.453,12.803,1.933,19.457,9.777,51.057,104.294,46.872
Delaware,0.032,0.356,13.081,2.076,23.975,11.253,57.215,105.899,53.048
District Of Columbia,0.027,0.718,16.563,3.808,22.267,11.978,58.044,97.637,57.088
Florida,0.029,0.451,7.433,1.259,19.653,8.368,73.069,77.732,40.914
Georgia,0.032,0.442,10.107,1.826,21.623,11.874,61.947,97.605,45.858
Hawaii,0.020,0.421,3.509,6.216,17.607,4.287,65.010,40.393,48.998
Idaho,0.036,0.705,8.843,3.236,24.710,9.059,47.886,107.552,31.836
Illinois,0.029,0.484,14.574,2.405,27.898,12.079,54.249,99.553,41.149
Indiana,0.034,0.562,10.940,3.927,20.424,11.910,53.370,95.983,43.028
Iowa,0.032,0.276,6.647,1.346,23.546,9.942,50.761,97.698,40.969
Kansas,0.031,0.388,7.123,1.585,24.319,9.491,58.022,94.724,38.998
Kentucky,0.033,0.305,9.199,2.383,20.302,11.870,57.233,94.056,45.203
Louisiana,0.028,0.467,7.964,2.611,25.921,10.409,68.098,81.981,44.491
Maine,0.030,0.203,6.604,1.318,15.110,5.279,46.744,105.492,35.416
Maryland,0.034,0.287,13.510,1.928,15.867,12.168,56.463,100.651,49.314
Massachusetts,0.032,0.353,9.857,2.574,14.964,9.273,50.307,128.667,43.545
Michigan,0.034,0.291,10.476,2.013,19.825,10.383,48.611,99.676,42.714
Minnesota,0.031,0.271,9.451,0.854,22.436,8.564,39.213,100.097,35.656
Mississippi,0.032,0.292,5.281,1.201,17.618,11.553,68.506,96.284,45.186
Missouri,0.036,0.417,10.357,3.096,23.824,12.438,55.881,96.403,45.258
Montana,0.031,0.485,1.794,1.820,17.333,8.596,44.757,83.686,32.853
Nebraska,0.032,0.474,6.378,0.935,27.225,8.285,57.470,96.660,33.787
Nevada,0.038,0.575,13.194,0.854,27.156,7.792,54.068,103.567,41.645
New Hampshire,0.031,0.312,7.590,2.818,13.453,8.036,48.026,105.657,40.706
New Jersey,0.029,0.506,16.591,2.532,24.735,10.250,53.821,102.818,45.437
New Mexico,0.036,0.361,7.526,0.582,23.278,6.451,60.086,99.482,39.703
New York,0.030,0.402,17.300,2.408,14.542,9.805,49.594,99.856,40.105
North Carolina,0.034,0.483,9.745,1.733,17.819,11.406,58.833,90.599,45.524
North Dakota,0.031,0.167,2.794,0.924,12.487,6.416,42.253,106.150,33.251
Ohio,0.034,0.380,13.482,3.424,22.627,12.672,53.734,102.756,44.096
Oklahoma,0.034,0.283,7.523,2.108,22.262,10.360,60.787,90.464,42.781
Oregon,0.027,0.736,10.409,0.965,17.911,8.945,50.960,106.888,33.748
Pennsylvania,0.031,0.265,11.203,4.288,22.469,12.049,57.052,115.363,47.982
Puerto Rico,0.012,0.888,9.394,2.100,28.711,6.720,81.704,63.341,23.255
Rhode Island,0.034,0.425,10.390,2.667,13.664,8.736,51.456,100.499,43.406
South Carolina,0.032,0.309,6.445,1.152,20.286,11.136,66.914,90.305,43.772
South Dakota,0.034,0.171,3.479,0.505,20.108,7.630,48.444,106.158,35.993
Tennessee,0.035,0.458,10.277,3.518,21.669,11.914,54.697,100.264,45.749
Texas,0.031,0.308,6.295,1.085,24.772,10.506,68.032,85.820,44.126
Utah,0.039,0.563,12.787,1.556,24.165,9.083,52.989,119.192,50.028
Vermont,0.031,0.358,9.207,2.044,12.392,8.362,47.846,105.148,36.557
Virginia,0.033,0.333,10.714,2.310,16.319,10.348,51.795,113.125,40.241
Washington,0.027,0.714,11.952,1.047,22.724,8.747,51.036,93.570,32.066
West Virginia,0.031,0.461,15.063,6.001,22.537,12.339,54.820,97.311,44.917
Wisconsin,0.034,0.285,9.247,2.117,17.016,9.954,48.864,98.780,41.841
Wyoming,0.040,0.153,2.932,1.120,17.848,5.709,43.754,136.380,38.808